.mySkillsContainer {
  overflow-y: auto;
  animation: fade-in 1s;

  background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);

  .selfSkills {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 5rem;
    .containerName {
      font: {
        size: 2rem;
      }
      color: #fff;

      span:nth-child(2) {
        font : {
          size: 14px !important;
        }
        margin-left: 12px;
      }
    }
    &:first-of-type {
      margin-top: 0px !important;
    }

    .skillsProgressContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media screen and (max-width: 1200px) {
  .skillsProgressContainer {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 800px) {
  .skillsProgressContainer {
    grid-template-columns: 1fr !important;
  }
}
