.themeContainer {
  width: 200px;
  .themesColorsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    margin-top: 1rem;
    span {
      width: 16px;
      height: 16px;
    }
  }
}
