.sidebarContainer {
  width: 50px;
  height: 100vh;
  background-color: #181818;
  p {
    color: #fff;
    font : {
      size: 32px;
    }
  }
  svg {
    font : {
      size: 2rem;
    }
    fill: #fff;
    margin-top: 1rem;
  }
}
