.cardForSkills {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 16px;
  .aboutCurr {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font : {
    }
    .nameContainer,
    .levelContainer {
      font : {
        size: 1rem;
      }
      span {
        color: #fff;
        font : {
        }
      }
    }
  }
  .likeProgress {
    width: 100%;
    height: 10px;
    display: block;
    border-radius: 2rem;
    .inner {
      height: 100%;
      background: linear-gradient(
        90deg,
        #ffd33dc7,
        #ea4aaac7 17%,
        #b34bffc7 34%,
        #01feffc7 51%,
        #ffd33dc7 68%
      );
      background-size: 300% 100%;
      animation: progress-animation 2.5s ease-in-out infinite alternate forwards;
      -webkit-animation: progress-animation 2.5s ease-in-out infinite;
    }
  }
}
@keyframes progress-animation {
  from {
    background-position: 0;
    border-radius: 2rem;
  }
  to {
    background-position: -300%;
    border-radius: 2rem;
  }
}
@-moz-keyframes progress-animation {
  from {
    background-position: 0;
    border-radius: 2rem;
  }
  to {
    background-position: -300%;
    border-radius: 2rem;
  }
}
@-webkit-keyframes progress-animation {
  from {
    background-position: 0;
    border-radius: 2rem;
  }
  to {
    background-position: -300%;
    border-radius: 2rem;
  }
}
@-o-keyframes progress-animation {
  from {
    background-position: 0;
    border-radius: 2rem;
  }
  to {
    background-position: -300%;
    border-radius: 2rem;
  }
}
